table.views_hierarchy_op_table tr td {
  width:15px;
}

table.views_hierarchy_op_table tr td:last-child {
  width:100%;
}

th.vho-select-all {
  padding:0;
}

.views_hierarchy_op_expand_link {
  position:absolute;
  margin-top:6px;
}

.views_hierarchy_op_expand {
  background-image: url(images/menu-expanded.png);
}

.views_hierarchy_op_expand.collapsed {
  background-image: url(images/menu-collapsed.png);
}

.views_hierarchy_op_expand, .views_hierarchy_op_expand_list {
  width:7px;
  height:7px;
}
